{{> head}}
{{> navbar}}
   <main class="main">
      <div class="main__left">

         {{#checkIfAll @config.custom.uploadHero @config.custom.displayHeroImage}}
            <figure class="hero">
               <img
                  src="{{@config.custom.uploadHero}}"
                  {{#if @config.site.responsiveImages}}
                     {{responsiveImageAttributes @config.custom.uploadHero}}
                  {{/if}}
                  {{ lazyload "eager" }}
                  {{imageDimensions @config.custom.uploadHero}}
                  alt="{{@config.custom.uploadHeroAlt}}">

               {{#if @config.custom.uploadHeroCaption}}
                  <figcaption class="hero__caption">
                     {{@config.custom.uploadHeroCaption}}
                  </figcaption>
               {{/if}}
            </figure>
         {{/checkIfAll}}

         <header>
            {{{@config.custom.textHero}}}
         </header>

      </div>
      <div class="main__right feed author">
         <div>
            <div class="author__bio">
               {{#author}}
                  {{#if avatar}}
                     <img 
                        src="{{avatar}}" 
                        {{ lazyload "eager" }}  
                        class="author__thumb" 
                        alt="{{name}}">
                  {{/if}}
                  <h3>{{name}}
                     <sup>({{postsNumber}})</sup>
                  </h3>
                  {{#if description}}
                     <p>
                        {{description}}
                     </p>
                  {{/if}}
               {{/author}}
            </div>
            {{#each posts}}
               <article class="feed__item">
                  <header>
                     <h2>
                        <a href="{{url}}">
                           {{title}}
                        </a>
                     </h2>
                     <div class="post__meta">
                        <time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}">
                           {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                              {{date createdAt @config.custom.formatDate}}
                           {{else}}
                              {{date createdAt @config.custom.formatDateCustom}}
                           {{/checkIf}}
                        </time>
                        {{ translate 'common.publishedBy' }}
                        {{#author}}
                           <a href="{{url}}">{{name}}</a>
                        {{/author}}
                     </div>
                  </header>

                  {{#if hasCustomExcerpt}}
                     {{{ excerpt }}}
                  {{else}}
                     <p>{{{ excerpt }}}</p>
                  {{/if}}

               </article>
            {{/each}}
            {{> pagination}}
         </div>
      </div>
   </main>
{{> footer}}
